
@font-face {
	font-family:'MyriadPro-LightSemiExt';
	src: url('MyriadPro-LightSemiExt_gdi.eot');
	src: url('MyriadPro-LightSemiExt_gdi.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-LightSemiExt_gdi.woff') format('woff'),
		url('MyriadPro-LightSemiExt_gdi.ttf') format('truetype'),
		url('MyriadPro-LightSemiExt_gdi.svg#MyriadPro-LightSemiExt') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: semi-expanded;
	unicode-range: U+0021-04D9;
}